@import "../../node_modules/bootstrap/scss/functions";
@import "./utilities/fonts";
@import "./utilities/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "./pages/navbar.scss";
@import "./pages/home.scss";
@import "./pages/event";
@import "./pages/eventInfo";
@import "./pages/order";
@import "./pages/login";
@import "./utilities/layout";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: #f3f1e5;
}

h1 {
  font-family: "Yeseva One", cursive;
  line-height: 55px;
}

h2 {
  font-family: "Noto Serif TC", serif;
  font-weight: bold;
  line-height: 34px;
}

p {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 24px;
}

a {
  color: #000000;
}
